body {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-align: center;
    background-color: rgba(65, 54, 54, 0.795);

}

.navbar {
    background-color: rgba(255, 255, 255, 0.918);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 05);
    min-height: 10px;
 
}
.row{
    margin: auto;
    padding: auto 1px;
    color: white;
    text-align: center;
    width         : auto;
    background    : rgba(107, 104, 104, 0.315);
    margin        : auto auto auto;
    border        : solid rgba(0, 0, 0, 0.205);
    display: ruby-base;


}
.nav-link {color: rgb(196, 8, 8);}
.nav-link:hover { color: rgba(34, 11, 11, 0.918);}

.navbar-toggler { font-size: 40px;}
.navbar-toggler:focus {outline: none;}

#hero {
    text-align: center;
    color: rgb(0, 0, 0);
}

#footer{
    color: white;
    text-align: center;
    width         : auto;
    background    : black;
    margin        : auto auto auto;
    border        : solid rgba(0, 0, 0, 0.205);
    display: ruby-base;
    
}

#Bit{
    color: rgb(255, 255, 255);
    display: ruby-base;

}
#Eth{
    color: rgb(255, 255, 255);
    display: ruby-base;

}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#footer a{
    color: white;
    text-decoration: none;
}
#footer .list-inline .list-inline-item{
    padding: auto 1px;
}


@media (max-width:600px) {
    .footer-menu{
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    }
    #gu{
        width: 100%;
    }
    #arm{
        width: 100%;
    }
    #ck{
        width: 100%;
    }
    #vs{
        width: 100%;
    }
}


.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
#pb1{
    margin: auto;
    width: 100%;
}